@charset "UTF-8";
 
*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#paginicial{
    background-image: url(imagens/imagem-fundo2-jpg.jpg);
    height: 1000px;

}

#logo{
    color: white;
    font-weight: bold;
    font-size: 2em;
    width: 150px;
    padding: 20px;
    
}

#cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#menu{
    display: flex;
    align-items: center;
    padding-right: 30px;
    
}
#menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
}


#pag1{
    height: 1000px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}

#titulo{
    text-align: center;
    color: white;
    font-size: 3em;
    padding: 10px;
}

#subtitulo{
    color: white;
    font-size: 1em;
    font-weight: 550;
    padding-bottom: 10px;
}

#botao1{
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 30px;
    border-style: double;
    width: 150px;
    height: 40px;
    font-weight: 700;
}

#pag2{
    height: max-content;
    background-color: white;
    color: rgba(0, 0, 0, 0.747);
    padding-bottom: 50px;
}

#pag2 h2{
    text-align: center;
    font-size: 3em;
    padding: 40px 0px 40px 0px;
}

#paragrafo{
    text-align: center;
    font-size: 1em;
    font-weight: 600;
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 70px;
    padding-top: 50px;
    flex-wrap: wrap;
}

#bloco1{
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;

}

#bloco2{
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

#bloco3{
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

#bloco4{
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.descriçao{
    font-weight: 300;
    padding-top: 20px;
    line-height: 2em;
}

.nameservice{
    font-weight: bold;
}

#pag3{
    height: max-content;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    
}

#pag3 h2{
    font-size: 3em;
    text-align: center;
    padding-bottom: 50px;
}

#pag3 p{
    text-align: center;
    height: max-content;
}

#container2{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
    
    
}

#container2 div{
    
    height: 600px;
    width: 400px;
    
}

#imagem1{background-image: url(imagens/imagem1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    
    
}

#imagem2{
    background-image: url(imagens/imagem2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    
}

#imagem3{
    background-image: url(imagens/imagem3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    
    
}

#pag4 {
    height: 700px;
    background-image: url(imagens/imagem-fundo3.jpg);
    background-attachment: fixed;
    }

#container3{
    text-align: center;
    height: 700px;
    font-size: 2.5em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#botao2 {
    background-color: orangered;
    color: white;
    width: 150px;
    height: 40px;
    margin-top: 20px;
    border-color: black;
    font-weight: 600;

}

